---
properties-configuration:
  security_configuration:
    trusted_certificates: ((fullchain))
    opsmanager_root_ca_trusted_certs: true
  director_configuration:
    max_threads: 8
    ntp_servers_string: ((ntp_servers_string))  
  iaas_configuration:
    subscription_id: ((subscription_id))
    tenant_id: ((tenant_id))
    client_id: ((client_id))
    client_secret: ((client_secret))
    resource_group_name: ((resource_group_name))
    bosh_storage_account_name: ((bosh_storage_account_name))
    default_security_group: ((default_security_group))
    ssh_public_key: ((ssh_public_key))
    ssh_private_key: ((ssh_private_key))
networks-configuration:
 icmp_checks_enabled: false
 networks:
 - name: pcf-infrastructure-subnet
   subnets:
   - iaas_identifier: ((infrastructure-subnet))
     cidr: ((infrastructure_cidr))
     reserved_ip_ranges: ((infrastructure_range))
     dns: 168.63.129.16
     gateway: ((infrastructure_gateway))
 - name: pcf-pas-subnet
   subnets:
   - iaas_identifier: ((pas-subnet))
     cidr: ((pas_cidr))
     reserved_ip_ranges: ((pas_range))
     dns: 168.63.129.16
     gateway: ((pas_gateway))
 - name: pcf-services-subnet
   service_network: true
   subnets:
   - iaas_identifier: ((services-subnet))
     cidr: ((services_cidr))
     reserved_ip_ranges: ((services_range))
     dns: 168.63.129.16
     gateway: ((services_gateway))
network-assignment:
 network:
  name: pcf-infrastructure-subnet